@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
        </div>

        <article class="d-flex align-items-center justify-content-center vh-100">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
