@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-bar px-4">
            <a class="logo" href="">
                <img src="img/logo.svg" />
            </a>

            <a href="" class="nav-tab">
                <img src="img/pizza-slice.svg" />
                <div>Get Pizza</div>
            </a>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
